footer {
    background: #fff;
    font-size: 20px;
    padding: 15px 23px;
    color: #0a0909;
    text-align: center;
}

footer span a {
    color: crimson;
    text-decoration: none;
}

footer span a:hover {
    text-decoration: underline;
}

.main{
  color: #0a0909;
}
